.roleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 14px;
  margin-bottom: 20px;
}

.roleCard {
  padding: 14px 18px;
  background: #3b1818;
  border: 2px solid #ddd;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  transition: all 0.25s ease;

  &:hover {
    background: #ed8686;
    border-color: #999;
  }
}

.active {
  background: #0f75f1;
  border-color: #0070f3;
  box-shadow: 0px 0px 8px rgba(0, 112, 243, 0.4);
}
