.loaderButton {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  border-top: 2px solid #6a1b9a;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
