.handleLogout {
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(135deg, #363f68 0%, #3a12e3 100%);
  display: flex;
  cursor: pointer;
}
